<!DOCTYPE html>
<html>
<head>
    <title>Screenshoter</title>
</head>
<body>
    <h1>Extract screenshot from HTML</h1>
    <p>Upload zip containing all slides</p>
    <form action="/" method="post" enctype="multipart/form-data">
        <input type="file" name="zip_file" accept=".zip">
        <input type="submit" value="Upload and Process ZIP">
    </form>
    <h3>Logs</h3>
    <div id="log-entries">
        <ul>
            {% for log_entry in log_entries %}
                <li>{{ log_entry }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>
